doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    title Arturo Technologies
  body
    ul.nav
      li: a(href='/') Home
      li: a(href='#contact') Contact
    
    .main-content
      block content

    .footer
      p Copyright © Arturo Technologies Private Ltd
