doctype html
html
  head
    link(rel='stylesheet', href='/css/app.css')
    title Arturo Technologies
  body
    img(src="/image/logo.jpg", alt="Logo")
    h2 Art on the Blockchain
    .main-content
      block content

    .footer
      p Copyright © Arturo Technologies Private Ltd
