extend default

block content
  p.
    Blockchain is the technological advancement of the decade. From land agreements and micropayments to automatically settled contracts, it is a barely explored sector in the frontier of technology. Various uses of the blockchain, such as incentivizing loans, distribute processing labour are being hotly researched.

  p.
    At Arturo, we focus on the use of the blockchain to enable artists to effectively reach an audience. Art has received relatively less attention within this space. However it is a major driver on the internet with youTube and Pandora being examples of high-quality content providers. Combining financial payments with appropriately rewarded content, we aim to expand the potential for creative enterprise.
  
  p.
    Current state of development is research in progress!